.example-card {
  max-width: 100%;
  margin: 1rem;
}

.card-main-avatar {
  border-radius: 0 !important;
  width: 80px !important;
  height: 80px !important;
}

.card-options {
  position: absolute;
  top: 5px;
  right: 0;
}

// .button-row button {
//   margin-right: 8px;
// }

.mat-card-actions {
  margin: 1rem 0 0 0 !important;
  padding: 0 !important;
}
