<form class="search">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Search" name="term" [(ngModel)]="term">
    <button matSuffix mat-button mat-flat-button color="primary" (click)="submitSearch()">SEARCH</button>
  </mat-form-field>
</form>
<div *ngIf="results?.resultCount == 0">
  <p>Couldn't find results</p>
</div>
<div *ngIf="results?.resultCount" class="results-container">
  <div *ngFor="let podcast of results.results">
    <mat-card class="example-card" [routerLink]="['/podcast']" [queryParams]="{ url: podcast.feedUrl}">
      <mat-card-header>
        <img mat-card-avatar src="{{podcast.artworkUrl60}}" alt="Podcast image">
        <mat-card-title>{{podcast.trackName}}</mat-card-title>
        <mat-card-subtitle>{{podcast.artistName}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>